.containerApp {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 330px;
  background: linear-gradient(180deg, #FFC0CB 29%, #171717 29%);
  color: white;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 901px){
  .containerApp{
    flex-direction: column;
    
    background: linear-gradient(180deg, #FFC0CB 10%, #171717 10%);
  }
}