.containerApp {
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: linear-gradient(180deg, #FFC0CB 26%, #171717 26%);
  color: white;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 901px){
  .containerApp{
    flex-direction: column;
    
    background: linear-gradient(180deg, #FFC0CB 20%, #171717 20%);
  }
}