.containerApp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  background: linear-gradient(180deg, #FFC0CB 26%, #171717 26%);
  color: white;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 901px){
  .containerApp{
    flex-direction: column;
    height: 2200px;
    background: linear-gradient(180deg, #FFC0CB 10%, #171717 10%);
  }
}