@font-face {
  font-family: montserrat;
  src: url("../assets/montserrat/Montserrat-Medium.otf");
}
@font-face {
  font-family: montserrat-light;
  src: url("../assets/montserrat/Montserrat-Light.otf");
}
@font-face {
  font-family: test;
  src: url("../assets/montserrat/Montserrat-ExtraBold.otf");
}
.container {
  display: flex;

  align-items: center;
  background-color: #171717;
  border: 1px solid rgb(49, 46, 46);
  border-radius: 10px;
  width: 62vw;
  margin-left: 5px;
  height: 69px;
  filter: drop-shadow(0px 0px 2px black);
  min-width: 330px;
}

.btn0 {
  text-decoration: none;
  border: none;
  color: white;
  margin-left: 1rem;
  padding: 0.8rem;
  font-family: test;
  background-color: #353535;
  border-radius: 10px;
  width: auto;
  transition: all 0.3s ease;
}
.btn1 {
  text-decoration: none;
  border: none;
  color: white;
  margin-left: 1rem;
  padding: 0.8rem;
  font-family: test;
  background-color: #353535;
  border-radius: 10px;
  width: auto;
  transition: all 0.3s ease;
}
.btn2 {
  text-decoration: none;
  border: none;
  color: white;
  margin-left: 1rem;
  padding: 0.8rem;
  font-family: test;
  background-color: #353535;
  border-radius: 10px;
  width: auto;
  transition: all 0.3s ease;
}

.btnCheck {
  text-decoration: none;
  border: none;
  color: white;
  margin-left: 1rem;
  padding: 0.8rem;
  font-family: test;
  border-radius: 10px;
  width: auto;
  transition: all 0.3s ease;
  background-color: #4382e9;
}
.btnCheck:hover {
  background-color: #225ab4;
}

.btn0:hover {
  cursor: pointer;
  background-color: #4382e9;
}
.btn1:hover {
  cursor: pointer;
  background-color: #4382e9;
}
.btn2:hover {
  cursor: pointer;
  background-color: #4382e9;
}

@media screen and (max-width: 901px) {
  .container {
    padding: 0;
    width: 95vw;

    margin-bottom: 10px;
    justify-content: center;
  }
  .btn0,
  .btn1,
  .btn2 {
    margin: 5px;
  }
}
