@font-face {
  font-family: montserrat;
  src: url("../assets/montserrat/Montserrat-Medium.otf");
}
@font-face {
  font-family: montserrat-light;
  src: url("../assets/montserrat/Montserrat-Light.otf");
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #171717;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
  margin-top: -250px;
  
  height: 400px;
  filter: drop-shadow(0px 0px 2px black);
  z-index: 100;
  position: sticky;
  top: 30px;
  min-width: 350px;
  box-sizing: border-box;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  box-sizing: border-box;
  
  height: 150px;
  background-color: transparent;
  border: 1px solid rgb(49, 46, 46);
  font-family: montserrat;
  border-radius: 10px;
  box-sizing: border-box;
  min-width: 330px;
}
.description div {
  display: flex;
  justify-content: center;
  align-items: center;
  top: -20px;
  position: absolute;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 4px 1px rgb(255, 255, 255);
}
.description div img {
  width: 100px;
  border-radius: 100%;
  border: none;
}
.description section {
  position: relative;
  text-align: center;
  top: 30px;
}
.description section > h3 {
  color: white;
  font-size: 20px;
}
.description section > h4 {
  font-size: 15px;
  color: rgb(184, 184, 184);
}
.linksSocial {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 320px;
  height: 100px;
  background-color: transparent;
  border-radius: 10px;
  
  border: 1px solid rgb(49, 46, 46);
  min-width: 330px;
}
.linksSocial div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: 1px solid rgb(49, 46, 46);
}
.linksSocial div img {
  filter: contrast(0%);
  width: 30px;
}
.linksSocial div:hover {
  border-color: #3570d0;
  transition: all 1s ease;
}
.linksSocial div:hover > img {
  width: 2.2rem;
  cursor: pointer;
  transition: all 0.1s ease;
}

.habilitis {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 320px;
  height: 100px;
  background-color: transparent;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 1px solid rgb(49, 46, 46);
  min-width: 330px;
}
.habilitis p {
  font-family: montserrat;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  color: #3570d0;
  background-color: #1e2b41;
  border-radius: 20px;
}

@media screen and (max-width: 901px) {
  .container {
    
    width: 90vw;
    height: 360px;
    position: static;
    
    margin-top: 100px;
  }

  .description {
    margin: 10px 0 10px 0;
    width: 85vw;
    height: 150px;
  }
  .description h3{
    margin-top: 20px;
  }
  
  .linksSocial {
    width: 85vw;
    height: 80px;
    margin: 0 0 10px 0;
  }
  .linksSocial div {
    width: 50px;
    height: 50px;
  }
  .habilitis {
    width: 85vw;
    height: 100px;
    margin: 0 0 10px 0;
  }
}
