@font-face {
  font-family: montserrat;
  src: url("../assets/montserrat/Montserrat-Medium.otf");
}
@font-face {
  font-family: montserrat-light;
  src: url("../assets/montserrat/Montserrat-Light.otf");
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #171717;
  flex-direction: column;
  border-radius: 10px;
  height: 400px;
  filter: drop-shadow(0px 0px 2px black);
  z-index: 100;
  min-width: 350px;
  box-sizing: border-box;
  position: sticky;
  top: 50px;
  margin-right: 5px;
  transition: all 0.3s ease;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  box-sizing: border-box;

  height: 150px;
  background-color: transparent;
  border: 1px solid rgb(49, 46, 46);
  font-family: montserrat;
  border-radius: 10px;
  box-sizing: border-box;
  min-width: 330px;
}

.description div {
  display: flex;
  justify-content: center;
  align-items: center;
  top: -20px;
  position: absolute;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 4px 1px rgb(255, 255, 255);
}
.description div img {
  width: 100px;
  border-radius: 100%;
  border: none;
}
.description section {
  position: relative;
  text-align: center;
  top: 30px;
}
.description section > h3 {
  top: 0;
  margin-top: 40px;
  color: white;
  font-size: 20px;
}
.description section > h4 {
  margin-top: -15px;
  font-size: 15px;
  color: rgb(184, 184, 184);
}
.linksSocial {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 320px;
  height: 100px;
  background-color: transparent;
  border-radius: 10px;

  border: 1px solid rgb(49, 46, 46);
  min-width: 330px;
}
.linksSocial div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  border: 1px solid rgb(49, 46, 46);
}
.linksSocial div img {
  filter: contrast(0%);
  width: 30px;
}

.setBtn0:hover {
  color: #0043af;
}
.setBtn1:hover {
  color: #06b800;
}
.setBtn2:hover {
  color: #cc9600;
}
.linksSocial div:hover {
  border-color: var(--styleRound);
  transition: all 1s ease;
}

.linksSocial div:hover > img {
  width: 2.2rem;
  cursor: pointer;
  transition: all 0.1s ease;
}

.habilitis,
.habilitis0,
.habilitis1,
.habilitis2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 320px;
  height: 120px;
  background-color: transparent;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 1px solid rgb(49, 46, 46);
  min-width: 330px;
}

.habilitis p {
  font-family: montserrat;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  color: #3570d0;
  background-color: #1e2b41;
  border-radius: 20px;
}

.habilitis0 p {
  font-family: montserrat;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  color: #5093ff;
  background-color: #223553;
  border-radius: 20px;
}
.habilitis1 p {
  font-family: montserrat;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  color: #39c234;
  background-color: #023a00;
  border-radius: 20px;
}
.habilitis2 p {
  font-family: montserrat;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  color: #d6b65f;
  background-color: #553e00;
  border-radius: 20px;
}
@media screen and (max-width: 901px) {
  .container {
    width: 95vw;
    margin: 0;
    position: relative;

    top: 0;
    margin-bottom: 10px;
  }
  .description {
    width: 90vw;
  }
  .linksSocial {
    width: 90vw;
  }
  .habilitis,
  .habilitis0,
  .habilitis1,
  .habilitis2 {
    width: 90vw;
  }
}
