@font-face {
  font-family: montserrat;
  src: url("../assets/montserrat/Montserrat-Medium.otf");
}
@font-face {
  font-family: montserrat-light;
  src: url("../assets/montserrat/Montserrat-Light.otf");
}
@font-face {
  font-family: test;
  src: url("../assets/montserrat/Montserrat-ExtraBold.otf");
}
.container {
  background-color: #171717;
  border: 1px solid rgb(49, 46, 46);
  width: 62vw;
  max-width: 820px;
 
  margin-top: 15px;
  
  margin-left: 5px;
  margin-bottom: 10px;
  min-width: 330px;
  border-radius: 10px;
}

.container h1 {
  box-sizing: border-box;
  margin: 10px 10px 10px 15px;
  font-family: test;
  color: white;
  
}
.main {
  height: 100%;
  margin-bottom: 5px;
  border-radius: 10px;
  
}
.main div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 901px) {
  .container {
    width: 95vw;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }
}
