@font-face {
  font-family: montserrat;
  src: url("../assets/montserrat/Montserrat-Medium.otf");
}
@font-face {
  font-family: montserrat-light;
  src: url("../assets/montserrat/Montserrat-Light.otf");
}
@font-face {
  font-family: test;
  src: url("../assets/montserrat/Montserrat-ExtraBold.otf");
}
.container {
  background-color: #171717;
  border: 1px solid rgb(49, 46, 46);
  width: 62vw;
  margin: 0.5rem;
  min-width: 330px;
  border-radius: 10px;
  min-height: 700px;
}

.container h2 {
  box-sizing: border-box;
  margin: 10px 10px 10px 15px;
  font-family: test;
  color: white;
}
.container div {
  display: flex;
  height: 90vh;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: red;
  border: 1px solid rgb(49, 46, 46);
  border-radius: 10px;
  
}


@media screen and (max-width: 901px){
  .container {
    width: 90vw;
    box-sizing: border-box;
    
  }
  

}